<div class="container-fluid footer"  id="foot">
    <div class="pull-right">
        <!--Example text -->
    </div>
    <div>
        <strong>Copyright</strong> Matt O'Connor Services Inc &copy; 2017
    </div>
</div>
